body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    display: block;
    width: 200px; 
    margin: 0 auto; 
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px; 
}

a.button:hover {
    background-color: #0056b3;
}

form {
    max-width: 500px;
    margin: 0 auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

input[type="text"], textarea {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%; 
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    
    color: #020000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 18px;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    li {
        padding: 15px;
    }

    form {
        padding: 15px;
    }
}
